<section class="thirteen columns">
    <h1>Employment</h1>
    <article>
        <header>
            <h1>Software Engineer</h1>
            <span><address>Denver, CO</address><time>2015 to Present</time></span>
        </header>
        <p>
            <ul class="bullets">
                <li>Founding engineer of Wody, a dispensary discovery website. Launched Oct. 2015. Written using AngularJS and NodeJS.</li>
                <li>Creator of Congrist, an iOS app enabling easier access to real-time information on Congress. Written in Swift using Parse as a backend.</li>
                <li>Prototyped a location aware dating app, written in Swift.</li>
                <li>Provided an inital mock of a crowdsource marketing website, written in Python using the Django web framework.</li>
            </ul>
        </p>
    </article>
    <article>
        <header>
            <h1>Software Engineer</h1>
            <span><address>Denver Energy Group</address></span>
            <span><address>Denver, CO</address><time>2014 to 2015</time></span>
        </header>
        <p>
            <ul class="bullets">
                <li></li>
            </ul>
        </p>
    </article>
    <article>
        <header>
            <h1>Teaching Assistant</h1>
            <span><address>University of Glasgow, Glasgow, UK</address><time>2013 to 2014</time></span>
        </header>
        <p>Latine bonorum deserunt at nam. Mea nisl officiis eu, propriae similique has te, mei an brute meliore electram.
            Quo admodum omittantur ei, etiam principes at eos. Sit vocent commodo ceteros in, at mel idque everti.</p>
    </article>
    <article>
        <header>
            <h1>iOS Developer</h1>
            <span><address>Student Start-up, Glasgow, UK</address><time>2013</time></span>
        </header>
        <p>Mucius sententiae et mei, nec an diam ignota, tale epicurei intellegebat ne sit. Sumo pertinacia contentiones duo ei.</p>
    </article>
    <article>
        <header>
            <h1>Web Developer</h1>
            <span><address>Birmingham, UK</address><time>2007 to 2010</time></span>
        </header>
        <p> Et sed tritani volumus, dico rebum facilisis ea sed. His mundi efficiantur concludaturque no.
            Cu eos argumentum constituam repudiandae, eu eum lorem nostrum, ei mel dicam iriure fabellas.
        </p>
    </article>
</section>
