<section class="thirteen columns">
    <h1>Employment</h1>
    <article>
        <header>
            <h1>Yoga Instructor</h1>
            <span><address>CorePower Yoga, Denver, CO</address><time>2014 to Present</time></span>
        </header>
        <p>
            <ul class="bullets">
                <li>Power Vinyasa Flow</li>
		<li>200 hour Power Teaching Certification</li>
            </ul>
        </p>
    </article>
    <article>
        <header>
            <h1>Sr Software Engineer</h1>
            <span><address>Clayton, Denver, CO</address><time>2015 to Present</time></span>
        </header>
        <p>
            <ul class="bullets">
                <li>SQL, Analysis Services, SSIS, SSRS, Tableau, Git, SQLite, Python</li>
		<li>Release Manager for multiple code repos</li>
		<li>Involved with rearchitecture of Data Warehouse for GLASS</li>
		<li>Data Modeling, Process and Report Design for new Risk Analytics tool</li>
            </ul>
        </p>
    </article>
    <article>
        <header>
            <h1>BI Developer</h1>
            <span><address>Radian Group, Denver, CO</address><time>2014 to 2015</time></span>
        </header>
        <p>
            <ul class="bullets">
                <li>SQL, Analysis Services, SSIS, SSRS, Tableau, Git</li>
		<li>Release Manager for multiple code repos</li>
		<li>Created data quality engine for GLASS3</li>
		<li>Core member of team that created GLASS4</li>
		<li>Involved in A-Z process from ETL to UI wrapper around reporting layer</li>
            </ul>
        </p>
    </article>
    <article>
        <header>
            <h1>Data Analyst</h1>
            <span><address>Global Financial Review, Denver, CO</address><time>2011 to 2014</time></span>
        </header>
        <p>
            <ul class="bullets">
                <li>Ability to perform data mining and parsing of large historical data sets to discover and suggest various solutions to ad hoc data requests. Required to reconcile current data feed exceptions based on historical comparisons. Responsible for creation, operations and maintenance of query based exception and Quality Control tests for multiple work streams simultaneously. Experienced with SQL data pulls within Access, SQL Server Management, Visual Studio, and SQL Server Reporting Services.</li>
            </ul>
        </p>
    </article>
</section>
