<section class="thirteen columns">
    <h1>Employment</h1>
    <article>
        <header>
            <h1>Yoga Instructor</h1>
            <span><address>CorePower Yoga, Denver, CO</address><time>2015 to Present</time></span>
        </header>
        <p>
            <ul class="bullets">
                <li>Power Vinyasa Flow</li>
		<li>200 hour Power Teaching Certification</li>
            </ul>
        </p>
    </article>
    <article>
        <header>
            <h1>Sr Data Engineer</h1>
            <span><address>Clayton, Denver, CO</address><time>2015 to Present</time></span>
        </header>
        <p>
            <ul class="bullets">
                <li>SQL, Analysis Services, SSIS, SSRS, Tableau, Git, SQLite, Python, Powershell, sklearn, numpy</li>
		<li>Release Manager for multiple code repos</li>
		<li>Sole developer on a data application(GLASS4)</li>
		<li>Response for requirements and design through implementation and release</li>
		<li>Data Modeling, Process and Report Design for new Risk Analytics tool</li>
            </ul>
        </p>
    </article>
    <article>
        <header>
            <h1>BI Developer</h1>
            <span><address>Radian Group, Denver, CO</address><time>2014 to 2015</time></span>
        </header>
        <p>
	   <ul class="bullets">
                <li>SQL, Analysis Services, SSIS, SSRS, Tableau, Git</li>
		<li>Release Manager for multiple code repos</li>
		<li>Created data quality engine for GLASS3</li>
		<li>Core member of team that created GLASS4</li>
		<li>Involved in A-Z process from ETL to UI wrapper around reporting layer</li>
            </ul>
        </p>
    </article>
    <article>
        <header>
            <h1>Data Analyst</h1>
            <span><address>Global Financial Review, Denver, CO</address><time>2011 to 2014</time></span>
        </header>
        <p>
            <ul class="bullets">
		    <li>Access, SQL, SSRS</li>
		    <li>Responsible for creation, operations and maintenance of query based exception and Quality Control tests for multiple work streams simultaneously.</li>
		    <li>Automated job and recruited by IT</li>
            </ul>
        </p>
    </article>
</section>
