<section class="thirteen columns">
    <h1>Initiatives</h1>
    <article>
        <header>
            <h1>Recommendation Engine POC</h1>
        </header>
        <p>
            <ul class="bullets">
                <li>Data Engineering portion of project</li>
				<li>Postgres/PySpark/MLlib</li>
            </ul>
        </p>
	<header>
		<h1>Completed Python Data Scientist track @ datacamp.com</h1>
	</header>
	<p>
		<ul class="bullets">
			<li>Projects included: Supervised/Unsupervisede Learning, Deep Learning, Networks</li>
		</ul>
	</p>
	<header>
		<h1>Completed Udacity ML course</h1>
	</header>
	<p>
		<ul class="bullets">
			<li>Projects included: Enron email set, facial recognition, autonomous car sensor</li>
		</ul>
	</p>
    </article>
</section>
