<section class="thirteen columns">
    <h1>Initiatives</h1>
    <article>
        <header>
            <h1>Machine Learning POC</h1>
        </header>
        <p>
            <ul class="bullets">
                <li>Currently in implementation phase, multiple use cases across projects</li>
		<li>Utilizing econometrics background with python</li>
            </ul>
        </p>
	<header>
		<h1>Machine Learning Projects</h1>
	</header>
	<p>
		<ul class="bullets">
			<li>Completed Udacity ML course</li>
			<li>Projects included: Enron email set, facial recognition, autonomous car sensor</li>
		</ul>
	</p>
    </article>
</section>
