<section class="thirteen columns">
    <h1>Programming Skills</h1>
    <article>
        <header>
            <h1>Software engineering & web development</h1>
        </header>
        <p>
        <i class="fa fa-code"></i>&nbsp;&nbsp;<em>Languages - Python, Swift, Java, Javascript, C</em><br/>
        </p><br/>
        <p>
        <i class="fa fa-wrench"></i>&nbsp;&nbsp;<em>Current Tools - Xcode, Command Line & Vim, Github/GIT, Sketch</em><br/>
        </p><br/>
        <p>
        <i class="fa fa-laptop"></i>&nbsp;&nbsp;<em>Other Experience - Objective-C, HTML, CSS/SCSS, AngularJS, NodeJS, JQuery, Django, C/C++, SQL</em><br/>
        </p><br/>
        <p>
        <i class="fa fa-cogs"></i>&nbsp;&nbsp;<em>Past Tools -  Eclipse, Visual Studio, Rally, JIRA, Fisheye, Code Collaborator, JUnit, Maven, Jenkins, Surround, SVN, vSphere, Wireshark, IDA Pro, Jira, TestTrack</em>
        </p>
    </article>
</section>
