<section class="thirteen columns">
    <h1>Programming Skills</h1>
    <article>
        <header>
            <h1>Software engineering & web development</h1>
        </header>
        <p>
        <i class="fa fa-laptop"></i>&nbsp;&nbsp;<em>Languages: Python, Swift, Java, Javascript, C</em>
        </p>
        <p>
        <i class="fa fa-cogs"></i>&nbsp;&nbsp;<em>Tools: Xcode, Eclipse, Visual Studio, Rally, JIRA, Fisheye, Code Collaborator</em>
        </p>
        <p>
        <i class="fa fa-laptop"></i>&nbsp;&nbsp;<em>Other Experience: Objective-C, Javascript, HTML, CSS/SCSS, AngularJS, NodeJS, Django, C/C++, SQL</em>
        </p>
        <p>
        <i class="fa fa-cogs"></i>&nbsp;&nbsp;<em>Other Tools: JUnit, Maven, Jenkins, Surround, GIT, SVN, vSphere, Wireshark, IDA Pro, Jira, TestTrack, Github</em>
        </p>
    </article>
</section>
